$twitter-color: #55acee;
$facebook-color: #3b5998;
$google-plus-color: #f44336;
.social-background-twitter {
    background-color: $twitter-color!important
}

.social-background-facebook {
    background-color: $facebook-color!important
}

.social-background-google-plus {
    background-color: $google-plus-color!important
}