.display-block {
    display: block!important
}

.display-inline-block {
    display: inline-block!important
}

.display-inline {
    display: inline!important
}

.display-none {
    display: none!important
}
