.slim-scroll{
    &::-webkit-scrollbar{
        width: 8px;
        background: rgba(0,0,0,.1);
        -webkit-transition: all .2s;
        transition: all .2s
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-transition: all .2s;
        transition: all .2s
    }
}
