<section class="margin-top-32">
    <div layout="row" layout-align="center start">
        <md-card class="padding-24" flex="40">
            <ul>
                <li class="font-size-fixed-16">
                    <label for="score">Score:</label> <span>{{vm.currentMatchInfo[0].batting}} - 10</span>
                </li>
                <li class="font-size-fixed-16">
                    <label for="over">Over:</label> <span>0.5</span>
                </li>
                <li class="font-size-fixed-16">
                    <label for="bowling">Bowling:</label> <span>{{vm.currentMatchInfo[0].bowling}}</span>
                </li>
            </ul>
        </md-card>
    </div>
    <div>
        <ui-view></ui-view>
    </div>
</section>