<section>
    <div>
        <ul>
            <li class="font-size-fixed-16">
                <label for="score">Score:</label> <span>Bangladesh - 150</span>
            </li>
            <li class="font-size-fixed-16">
                <label for="over">Over:</label> <span>0.5</span>
            </li>
            <li class="font-size-fixed-16">
                <label for="bowling">Bowling:</label> <span>India</span>
            </li>
        </ul>
    </div>
    <div>
        <ui-view></ui-view>
    </div>
</section>